.center-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #0e0c0c;
  text-transform: capitalize;
  box-sizing: border-box;
}

a.link-box {
  width: 190px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  border: 1px solid #ededed;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(216, 216, 216, 0.5);
}

a.link-box:hover {
  background-color: #efefef;
}

li {
  border: 1px solid #ededed;
  display: inline-block;
  width: 255px;
  margin: 10px;
  box-sizing: border-box;
  vertical-align: top;
  border-radius: 3px;
}

img {
  width: 100%;
  border-radius: 3px 3px 0 0;
}

li .content {
  padding: 15px;
  text-align: right;
  text-transform: capitalize;
}

li .content p {
  font-size: 11px;
  opacity: 0.6;
}

li .title {
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  text-transform: none;
}

.side-nav {
  position: absolute;
  width: 198px;
  top: 40px;
  height: calc(100vh - 40px);
}

.side-nav a {
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #ededed;
}

.side-nav a.active {
  background-color: #3A65AC;
  color: #ffffff;
}
